<Template name="cover">
    {{>navBar}}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1><span class="glyphicon glyphicon-grain"></span> Greenhouse Pi</h1>
                        <br>
                        <h4>Figuring out your greenhouse through Technology</h4>
                        <br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>Greenhouse Pi is a open source project connecting Raspberry Pi's with an online interface. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Template>
