<Template name="editAlarm">
    {{>navBar}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-success loginPanel">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            Edit Alarm
                        </h1>
                    </div>
                    <div class="panel-body">
                        {{#if Template.subscriptionsReady}}
                        <form>
                            <div class="form-group">
                                <label for="sensorName">Create an alarm called...</label>
                                <input type="text" class="form-control" id="name" placeholder="Name" value="{{thisAlarm.name}}">
                            </div>

                            <div class="form-group">
                                <label for="sensorDescription">When the reading...</label>
                                <button class="btn btn-block btn-sm {{whichAlarm 'above'}} alarmType" id="above">is Above</button>
                                <button class="btn btn-block btn-sm {{whichAlarm 'below'}} alarmType" id="below">is Below</button>
                                <button class="btn btn-block btn-sm {{whichAlarm 'stop'}} alarmType" id="stop">Stops reporting for</button>
                            </div>

                            <div class="form-group">
                                <label for="sensorDescription">This value...</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Value" aria-describedby="basic-addon2" value="{{thisAlarm.value}}" id="value">
                                    <span class="input-group-addon" id="basic-addon2">{{{whichValueType}}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sensorDescription">Then send me an alert by...</label>
                                <button class="btn btn-block btn-sm {{whichMsgType 'email'}} msgType" id="email">Email</button>
                                <button class="btn btn-block btn-sm {{whichMsgType 'IFTTT'}} msgType" id="IFTTT">IFTTT</button>
                                <button class="btn btn-block btn-sm {{whichMsgType 'sms'}} msgType" id="sms">SMS</button>
                            </div>

                            <a href="{{pathFor 'alarmList' sensor_id=thisAlarm.sensor_id}}" id="cancel" class="btn btn-default">Cancel</a>
                            <span class="pull-right"><button type="submit" id="updateAlarm" class="btn btn-success">Update Alarm</button></span>
                            <span class="pull-right"><button type="submit" id="disableAlarm" class="btn btn-danger">Delete Alarm</button></span>

                        </form>
                        {{else}}
                        {{>loadingCubes}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</Template>
