<Template name="lineChart">
    <div class="panel panel-success ">
        <div class="panel-heading">
            <h1 class="panel-title">History: {{#if thisSensor.name}}{{thisSensor.name}}{{else}}{{thisSensor.sensorID}}{{/if}}



            </h1>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <input id="startTime" class="set-due-date form-control dateTimePicker" type="text"/>
                </div>
                <div class="col-md-6">
                    <input id="endTime" class="set-due-date form-control dateTimePicker" type="text"/>
                </div>
            </div>

        </div>
        {{makeBarChart}}
        <div class="panel-body" id="target">



        </div>
    </div>
</Template>
