<Template name="alarmList">
    {{>navBar}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-success loginPanel">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            Alarms for {{#if thisSensor.name}}{{thisSensor.name}}{{else}}{{thisSensor.sensorID}}{{/if}}
                        </h1>
                    </div>
                    <div class="panel-body">

                        <a class="btn btn-sm btn-block btn-default" href="{{pathFor 'addAlarm' sensor_id=thisSensor._id}}">Add Alarm</a>
                        <hr>
                        {{#each allAlarms}}
                        <a href="{{pathFor 'editAlarm' alarm_id=_id}}" class="btn btn-block {{alarmStatus}}">{{name}}</a>
                        {{/each}}

                        <hr>
                        <a class="btn btn-sm btn-default" href="{{pathFor 'status'}}"> Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Template>
